@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

.attribution{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

*{
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-header img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

body{
    background-color: var(--Pale-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.card{
    background-color: white;
    border-radius: 1rem;
    width: 400px
}
.main{
    padding: 1.5rem 2rem;
}

.title{
    padding: 1.5rem;
    text-align: center;
    font-weight: 900;
}

.content{
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--Desaturated-blue);
}

.plan{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--Very-pale-blue);
    border-radius: 1rem;
}

.plan div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.plan-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: .6rem;
}

.plan-info span{
    color: var(--Desaturated-blue);
}

.plan a{
    color: var(--Bright-blue);
    font-weight: 700;
}

.plan a:hover{
    opacity: 70%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-start{
    padding: 1rem;
    background-color: var(--Bright-blue);
    color: white;
    border-radius: 1rem;
    font-weight: 700;
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
    width:100%;
    border: none;
    font-weight: 700;
}

.btn-start:hover{
    opacity: 70%;
}

.btn-cancel{
    padding: 1rem;
    background-color: white;
    color: var(--Desaturated-blue);
    border-radius: 1rem;
    font-weight: 700;
    margin: 0 1.5rem 1.5rem ;
    cursor: pointer;
    width: 80%;
    border: none;
    font-weight: 800;
    width: 100%;
}

.btn-cancel:hover{
    color: black;
}
@media screen and (max-width: 500px){
    body{
        background-image: url(./images/pattern-background-mobile.svg);
        background-size: cover;
    }
    .card{
        width: 375px;
    }
}